</div>
<div class="home">
  <div class="brand">LOGO</div>
  <h1 class="title">Page#home</h1>
  <section class="welcome">
    <div class="intro">Welcome to my website
    <h2>Pour apprendre simplement :enjoy !!!</h2>
    </div>



      <%= link_to 'démarrer', page_start_path, class: 'button' %>


      <%= link_to 'à propos', page_about_me_path, class: 'button' %>


    <p></p>

  </section>
</div>
<div class="diag">

</div>
<div class="">
blabla
</div>
<div class="arrow-up"></div>
<div class="arrow-down"></div>
<div class="arrow-left"></div>
<div class="arrow-right"></div>
